<div class="sticky">
    <div class="logo"><a href="#none" ><img src="/image/pc/common/logo02.png" alt="OTWOJOB" title="OTWOJOB" /></a></div>
    <ul class="sticky_icons">
        <li class="srch_show" ><img src="/image/pc/common/icon_stiky01.png" alt="검색" title="검색" /></li>
        <li class="notice on"><a href="javascript:noticeLayer();">알림</a><span class="count_num">99+</span></li>
        <li><a href="#none" ><img src="/image/pc/common/icon_stiky02.png" alt="로그인" title="로그인" /></a></li>
        <li><a href="#none" ><img src="/image/pc/common/icon_stiky03.png" alt="회원가입" title="회원가입" /></a></li>
        <li><a href="#none" ><img src="/image/pc/common/icon_stiky05.png" alt="APP설치" title="APP설치" /></a></li>
    </ul>
    <!-- search_sticky -->
    <fieldset class="search_sticky" >
        <legend class="blind">통합검색2</legend>
        <div>
            <div class="select_option">
                <button type="button" class="select_data">통합검색</button>
                <ul class="list">
                    <li>통합검색</li>
                    <li>재능검색</li>
                    <li>판매자ID</li>
                </ul>
            </div>
            <input type="text" title="검색어 입력" />
            <a href="#none" title="" class="search_btn"></a>
        </div>
        <!-- autosearch_wrap 자동완성 활성화시 현재 autosearch_wrap 클래스에 on만 추가해주시면 됩니다.  -->
        <div class="autosearch_wrap">
            <!-- auto_list -->
            <ul class="auto_list">
                <li><a href="#none"><span class="find_result_txt">블로그</span>1</a></li>
                <li><a href="#none"><span class="find_result_txt">블로그</span>2 <span class="find_result_txt">블로그</span>2 <span class="find_result_txt">블로그</span>2</a></li>
                <li><a href="#none">블로그3 블로그3블로그3블로그3블로그3블로그3블로그3블로그3 블로그3블로그3블로그3블로그3블로그 3블로그3블로그3블로그3블로그3블로그3블로그3블로그3블로그3블로그3블로그3</a></li>
                <li><a href="#none">블로그4</a></li>
                <li><a href="#none">블로그5</a></li>
                <li><a href="#none">블로그6</a></li>
                <li><a href="#none">블로그7</a></li>
                <li><a href="#none">블로그8</a></li>
                <li><a href="#none">블로그9</a></li>
                <li><a href="#none">블로그10</a></li>
            </ul>
            <!-- //auto_list -->

            <div class="btn_area">
                <div class="btn_inner">
                    <button type="button" class="auto_close">자동완성끄기</button>
                    <button type="button" class="btn_cancel">취소</button>
                </div>
            </div>
        </div>
        <!-- //autosearch_wrap -->

        <!-- autosearch_wrap 자동완성 기능이 꺼져있을때  -->
        <div class="autosearch_wrap">
            <p class="auto_end_txt">자동완성 기능이 꺼져 있습니다.</p>

            <div class="btn_area">
                <div class="btn_inner">
                    <button type="button" class="auto_close">자동완성켜기</button>
                    <button type="button" class="btn_cancel">취소</button>
                </div>
            </div>
        </div>
        <!-- //autosearch_wrap -->
    </fieldset>
    <!--// search_sticky -->
</div>