<nav class="gnb">
    <ul>
        <li>
            <div class="gnb_main"><a href="#none">디자인</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>디자인 전체</span> <em>(2342)</em></a></li>
                <li><a href="#none"><span>로고/CI&amp;BI</span> <em>(177)</em></a></li>
                <li><a href="#none"><span>캐리커쳐/인물/캐리커쳐캐리커쳐캐리커쳐</span><em> (1193)</em></a></li>
                <li><a href="#none"><span>일러스트/그림</span> <em>(334)</em></a></li>
                <li><a href="#none"><span>POP</span> <em>(8)</em></a></li>
                <li><a href="#none"><span>배너/상세페이지/웹/배너/상세페이지/웹</span> <em>(220)</em></a></li>
                <li><a href="#none"><span>만화/웹툰</span> <em>(62)</em></a></li>
                <li><a href="#none"><span>캐릭터/아이콘</span> <em>(74)</em></a></li>
                <li><a href="#none"><span>PPT/템플릿</span> <em>(41)</em></a></li>
                <li><a href="#none"><span>전단지/홍보물</span> <em>(175)</em></a></li>
                <li><a href="#none"><span>캘리그라피/폰트</span> <em>(136)</em></a></li>
                <li><a href="#none"><span>도면/3D</span> <em>(251)</em></a></li>
                <li><a href="#none"><span>누끼작업누끼작업누끼작업누끼작업누끼작업</span> <em>(113)</em></a></li>
                <li><a href="#none"><span>블로그/카페</span> <em>(130)</em></a></li>
                <li><a href="#none"><span>사진/포토샵</span> <em>(317)</em></a></li>
                <li><a href="#none"><span>명함</span> <em>(47)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(64)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">번역</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>번역 전체</span> <em>(708)</em></a></li>
                <li><a href="#none"><span>영어번역영어번역영어번역영어번역영어번역</span> <em>(348)</em></a></li>
                <li><a href="#none"><span>프랑스어번역</span> <em>(8)</em></a></li>
                <li><a href="#none"><span>인도네시아어번역</span> <em>(8)</em></a></li>
                <li><a href="#none"><span>태국어번역</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>일본어번역</span> <em>(144)</em></a></li>
                <li><a href="#none"><span>독일어번역</span> <em>(11)</em></a></li>
                <li><a href="#none"><span>이탈리아어번역</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>기타외국어번역</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>중국어번역</span> <em>(130)</em></a></li>
                <li><a href="#none"><span>러시아어번역</span> <em>(6)</em></a></li>
                <li><a href="#none"><span>몽골어번역</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>외국어교육</span> <em>(12)</em></a></li>
                <li><a href="#none"><span>스페인어번역</span> <em>(18)</em></a></li>
                <li><a href="#none"><span>베트남어번역</span> <em>(4)</em></a></li>
                <li><a href="#none" class="on"><span>아랍어번역</span> <em>(0)</em></a></li>
                <li><a href="#none"><span>외국어/기타</span> <em>(10)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">문서작성</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>문서작성 전체</span> <em>(718)</em></a></li>
                <li><a href="#none"><span>워드/타이핑</span> <em>(369)</em></a></li>
                <li><a href="#none"><span>자기소개/이력서</span> <em>(82)</em></a></li>
                <li><a href="#none"><span>사업계획/제안서</span> <em>(16)</em></a></li>
                <li><a href="#none"><span>카피라이팅</span> <em>(14)</em></a></li>
                <li><a href="#none"><span>PPT/프레지</span> <em>(116)</em></a></li>
                <li><a href="#none"><span>독후감/서평</span> <em>(25)</em></a></li>
                <li><a href="#none"><span>교정/교열</span> <em>(26)</em></a></li>
                <li><a href="#none"><span>창작/대본</span> <em>(9)</em></a></li>
                <li><a href="#none"><span>엑셀/통계</span> <em>(20)</em></a></li>
                <li><a href="#none"><span>리서치/자료수집</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>보고서/리포트</span> <em>(18)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(13)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">마케팅</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>마케팅 전체</span> <em>(841)</em></a></li>
                <li><a href="#none"><span>블로그/체험단</span> <em>(203)</em></a></li>
                <li><a href="#none"><span>언론/기사</span> <em>(41)</em></a></li>
                <li><a href="#none"><span>배너광고</span> <em>(30)</em></a></li>
                <li><a href="#none"><span>유튜브</span> <em>(17)</em></a></li>
                <li><a href="#none"><span>페이스북</span> <em>(166)</em></a></li>
                <li><a href="#none"><span>마케팅대행</span> <em>(83)</em></a></li>
                <li><a href="#none"><span>트위터</span> <em>(16)</em></a></li>
                <li><a href="#none"><span>마케팅자료</span> <em>(37)</em></a></li>
                <li><a href="#none"><span>인스타그램</span> <em>(60)</em></a></li>
                <li><a href="#none"><span>컨설팅/상담</span> <em>(47)</em></a></li>
                <li><a href="#none"><span>어플마케팅</span> <em>(20)</em></a></li>
                <li><a href="#none"><span>해외마케팅</span> <em>(16)</em></a></li>
                <li><a href="#none"><span>카페/웹사이트</span> <em>(34)</em></a></li>
                <li><a href="#none"><span>카카오스토리</span> <em>(26)</em></a></li>
                <li><a href="#none"><span>메세지/메일</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>기타광고</span> <em>(35)</em></a></li>
            </ul>

        </li>
        <li>
            <div class="gnb_main"><a href="#none">컴퓨터</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>컴퓨터 전체</span> <em>(676)</em></a></li>
                <li><a href="#none"><span>홈페이지/웹</span> <em>(291)</em></a></li>
                <li><a href="#none"><span>아이폰앱</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>원격수리/최적화</span> <em>(17)</em></a></li>
                <li><a href="#none"><span>매크로/엑셀</span> <em>(34)</em></a></li>
                <li><a href="#none"><span>응용프로그래밍</span> <em>(133)</em></a></li>
                <li><a href="#none"><span>모바일웹</span> <em>(15)</em></a></li>
                <li><a href="#none"><span>PC/개발견적</span> <em>(14)</em></a></li>
                <li><a href="#none"><span>서버</span> <em>(14)</em></a></li>
                <li><a href="#none"><span>안드로이드앱</span> <em>(86)</em></a></li>
                <li><a href="#none"><span>워드프레스</span> <em>(24)</em></a></li>
                <li><a href="#none"><span>플래시/스크립트</span> <em>(3)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(35)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">음악/동영상</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>음악/동영상 전체</span> <em>(312)</em></a></li>
                <li><a href="#none"><span>영상제작/편집</span> <em>(153)</em></a></li>
                <li><a href="#none"><span>작곡/MR/작사</span> <em>(32)</em></a></li>
                <li><a href="#none"><span>애니메이션</span> <em>(7)</em></a></li>
                <li><a href="#none"><span>노래/댄스</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>음악편집/녹음</span> <em>(20)</em></a></li>
                <li><a href="#none"><span>악보제작</span> <em>(26)</em></a></li>
                <li><a href="#none"><span>음악레슨</span> <em>(15)</em></a></li>
                <li><a href="#none"><span>자막제작</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>나레이션/성우</span> <em>(47)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(5)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">비지니스</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>비즈니스 전체</span> <em>(99)</em></a></li>
                <li><a href="#none"><span>사업계획</span> <em>(18)</em></a></li>
                <li><a href="#none"><span>특허/변리사</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>시장조사분석가</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>의사/약사</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>사업/컨설팅</span> <em>(36)</em></a></li>
                <li><a href="#none"><span>법률/법무</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>부동산/경매</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>과학/공학자</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>세무/회계사</span> <em>(9)</em></a></li>
                <li><a href="#none"><span>투자/금융</span> <em>(11)</em></a></li>
                <li><a href="#none"><span>노무사</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(9)</em></a></li>
            </ul>

        </li>
        <li>
            <div class="gnb_main"><a href="#none">노하우/상담</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>노하우/상담 전체</span> <em>(268)</em></a></li>
                <li><a href="#none"><span>연애상담</span> <em>(52)</em></a></li>
                <li><a href="#none"><span>창업/사업</span> <em>(29)</em></a></li>
                <li><a href="#none"><span>학습/학교생활</span> <em>(14)</em></a></li>
                <li><a href="#none"><span>투자/재테크</span> <em>(24)</em></a></li>
                <li><a href="#none"><span>고민상담</span> <em>(46)</em></a></li>
                <li><a href="#none"><span>직업/진로</span> <em>(28)</em></a></li>
                <li><a href="#none"><span>입시컨설팅</span> <em>(6)</em></a></li>
                <li><a href="#none"><span>생활노하우</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>심리상담</span> <em>(24)</em></a></li>
                <li><a href="#none"><span>유학/해외생활</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(25)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">생활서비스</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>생활서비스 전체</span> <em>(274)</em></a></li>
                <li><a href="#none"><span>사주/운세</span> <em>(36)</em></a></li>
                <li><a href="#none"><span>온라인교습</span> <em>(13)</em></a></li>
                <li><a href="#none"><span>심부름/배달</span> <em>(9)</em></a></li>
                <li><a href="#none"><span>게임</span> <em>(22)</em></a></li>
                <li><a href="#none"><span>건강/다이어트</span> <em>(23)</em></a></li>
                <li><a href="#none"><span>청소/이사</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>재미/엽기</span> <em>(8)</em></a></li>
                <li><a href="#none"><span>노무/수리</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>미용/스타일링</span> <em>(16)</em></a></li>
                <li><a href="#none"><span>선물/핸드메이드</span> <em>(108)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(33)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">대행/섭외</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>대행/섭외 전체</span> <em>(72)</em></a></li>
                <li><a href="#none"><span>구매대행</span> <em>(22)</em></a></li>
                <li><a href="#none"><span>하객대행</span> <em>(11)</em></a></li>
                <li><a href="#none"><span>축가/연주</span> <em>(4)</em></a></li>
                <li><a href="#none"><span>강사섭외</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>행사도우미</span> <em>(6)</em></a></li>
                <li><a href="#none"><span>역할대행</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>마술사섭외</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>댄스팀섭외</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>MC/사회</span> <em>(10)</em></a></li>
                <li><a href="#none"><span>모델/피팅</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(8)</em></a></li>
            </ul>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">여행</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>여행 전체</span> <em>(47)</em></a></li>
                <li><a href="#none"><span>국내여행</span> <em>(6)</em></a></li>
                <li><a href="#none"><span>아시아기타</span> <em>(5)</em></a></li>
                <li><a href="#none"><span>영국</span> <em>(0)</em></a></li>
                <li><a href="#none"><span>프랑스</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>미국/캐나다</span> <em>(7)</em></a></li>
                <li><a href="#none"><span>대만/홍콩</span> <em>(3)</em></a></li>
                <li><a href="#none"><span>독일</span> <em>(2)</em></a></li>
                <li><a href="#none"><span>호주/뉴질랜드</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>일본</span> <em>(3)</em></a></li>
                <li><a href="#none"><span>동남아</span> <em>(4)</em></a></li>
                <li><a href="#none"><span>이탈리아</span> <em>(0)</em></a></li>
                <li><a href="#none"><span>스페인</span> <em>(1)</em></a></li>
                <li><a href="#none"><span>중국</span> <em>(0)</em></a></li>
                <li><a href="#none"><span>유럽기타</span> <em>(6)</em></a></li>
                <li><a href="#none"><span>기타</span> <em>(8)</em></a></li>
            </ul>
        </li>
        <li class="free_product"> <!-- 644 -->
            <div class="gnb_main"><a href="#none">무료재능</a></div>
            <ul class="gnb_sub">
                <li><a href="#none"><span>무료재능 전체</span> <em>(72)</em></a></li>
                <li class="free_zone"><a href="#none"><span>무료재능</span> <em>(72)</em></a></li>
                <!--<li><a href="#none"><span>재능기부</span> <em>(6)</em></a></li>-->
                <li class="free_zone free_product_banner"><a href="#none"><img src="/image/pc/common/banner_gnb_free.png" alt=""></a></li>
            </ul>
        </li>
        <li class="fixed_btn">
            <div class="btn_odj"><a href="#none">오더잡</a></div>
        </li>
    </ul>
</nav>