<nav class="gnb">
    <ul>
        <li>
            <div class="gnb_main"><a href="#none">디자인</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">번역</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">문서작성</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">마케팅</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">컴퓨터</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">음악/동영상</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">비즈니스</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">노하우/상담</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">생활서비스</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">대행/섭외</a></div>
        </li>
        <li>
            <div class="gnb_main"><a href="#none">여행</a></div>
        </li>
        <li>
            <div class="btn_otj"><a href="#none"><i></i>오투잡</a></div>
        </li>
    </ul>
</nav>