<!-- 프로필+개인정보수정 -->
<div class="person_info">
    <div class="info">
        <span class="photo"><span><img src="/image/pc/ico/btn_file_del.png" alt="프로필사진" title="프로필사진" /></span></span>
        <span class="name">오투잡님 <a href="#none"><img src="/image/pc/common/icon_quick_logout.png" alt="로그아웃" title="로그아웃" /></a></span>
    </div>
    <div class="modi">
        <span><a href="#none">프로필</a></span>
        <span><a href="#none">정보수정</a></span>
    </div>
</div>
<!-- //프로필+개인정보수정 -->

<!-- 캐쉬정보 -->
<div class="ocash">
    <p><img src="/image/pc/common/tit_ocash.png" alt="ocach" title="ocach" /></p>
    <a href="#none"><strong>50,000</strong>원</a>
</div>
<!-- //캐쉬정보 -->

<!-- [dev] 구매자: 구매+오더+찜목록
           판매자: 판매+오더+광고관리 -->
<ul class="market_list" style="display:none;">
    <li class="buy">구매<a class="num" href="#none">6</a></li>
    <li class="order">오더<a class="num" href="#none">3</a></li>
    <li class="want">찜목록<a class="num" href="#none">4</a></li>
</ul>

<ul class="market_list">
    <li class="buy">판매<a class="num" href="#none">6</a></li>
    <li class="order">오더정보<a class="num" href="#none">3</a></li>
    <li class="want">광고관리<a class="num" href="#none">4</a></li>
</ul>

<!-- 오더등록+재능등록 -->
<ul class="regist">
    <li><a href="#none">오더등록</a></li>
    <li><a href="#none">재능등록</a></li>
</ul>
<!-- //오더등록+재능등록 -->

<!-- 아이템 보기 -->
<div class="view_list">
    <p class="tit">VIEW <span>ITEM</span></p>
    <ul class="item">
        <li><span><a href="#none"><img src="/image/pc/temp/@list2.png" alt="최근본상품" title="최근본상품" /></a></span></li>
        <li><span><a href="#none"><img src="/image/pc/temp/@list2.png" alt="최근본상품" title="최근본상품" /></a></span></li>
        <li><span><a href="#none"><img src="/image/pc/temp/@list2.png" alt="최근본상품" title="최근본상품" /></a></span></li>
    </ul>
    <div class="item_page">
        <a href="#none"><img src="/image/pc/common/btn_arrow_left.png" alt="이전" title="이전" /></a>
        <span class="page"><em class="current">1</em> / 3</span>
        <a href="#none"><img src="/image/pc/common/btn_arrow_right.png" alt="다음" title="다음" /></a>
    </div>
</div>
<!-- //아이템 보기 -->

<div class="btn_open"><img src="/image/pc/common/btn_quick_open.png" alt="팝업창 열기" title="팝업창 열기"></div>
<div class="btn_close"><img src="/image/pc/common/btn_quick_close.png" alt="팝업창 닫기" title="팝업창 닫기"></div>