<div class="footer_inner">
    <ul class="policy">
        <li><a href="/policy/site">서비스 이용약관</a></li>
        <li><a href="/policy/seller">판매자 이용약관</a></li>
        <li class="bold"><a href="/policy/privacy">개인정보처리방침</a></li>
        <li><a href="/customer">고객센터</a></li>
    </ul>
    <div class="co_info">
        <p class="co">(주)사람인HR &nbsp;|&nbsp; 사업자등록번호:113-86-00917&nbsp;|&nbsp;<a href="javascript:void(0);" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1138600917', '_blank', 'width=1000,height=860');" class="check">사업자정보확인</a>&nbsp;|&nbsp;통신판매업:제2339호 &nbsp;|&nbsp; 대표:김용환 &nbsp;|&nbsp; 대표전화:02-2025-2707 (평일 09:00~19:00, 주말.공휴일 휴무)&nbsp;|<a href="/customer">통화전클릭</a></p>
        <p class="address">주소 : 서울 구로구 디지털로34길 43 코오롱싸이언스밸리 1차 201호 (구로동) &nbsp;|&nbsp; 이메일 <a href="mailto:otwojob@saramin.co.kr" class="address">otwojob@saramin.co.kr</a>&nbsp;|&nbsp; 호스팅 서비스  <span class="mark">Amazon Web Service(AWS)</span></p>
        <p class="comment">(주)사람인HR의 오투잡 서비스는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 판매자가 등록한 상품 정보 및 거래에 대해 (주)사람인HR은 일체의 책임을 지지 않습니다.</p>
        <p class="copy">Copyright © (주)사람인HR all right reserved.</p>
    </div>
    <div class="right_logo"></div>
    <div class="etc_link">
        <a href="https://isms.kisa.or.kr/main/" target="_blank"><img src="//images.otwojob.com/image/pc/temp/logo-isms.png">[인증범위] 재능거래 서비스 운영  [유효기간] 2016-12-16 ~ 2019-12-15</a>
        <a href="https://www.kcdrc.kr/" target="_blank"><img src="//images.otwojob.com/image/pc/temp/logo-kca.png">콘텐츠 분쟁조정 위원회</a>
        <a href="http://cyberbureau.police.go.kr/" target="_blank"><img src="//images.otwojob.com/image/pc/temp/logo-cyber-bureau.png">경찰청 사이버 안전국</a>
        <a href="http://www.kcab.or.kr/servlet/main/1000" target="_blank"><img src="//images.otwojob.com/image/pc/temp/logo-kcab.png">대한 상사 중재원</a>
    </div>
</div>