<div class="left_wing_banner">
    <div class="okday_banner">
        <p><a href="#"><img src="/image/pc/event/20180316/ok_day_wing_banner.png" alt=""><em>7</em></a></p>
        <!--<div class="big_viwe" style="position:absolute;left:152px;top:-30px;z-index:500;">
            <a href="#"><img width="1004" height="510" src="/image/pc/main/image_banner.png" alt=""></a>
        </div>-->
    </div>
    <div class="banner_box scroll_type" id="scroll_type">
        <div class="cycle-slideshow" data-cycle-slides="> a" data-cycle-fx="scrollHorz" data-cycle-timeout="2000" data-cycle-pause-on-hover="true" data-cycle-prev="#scroll_type .cycle-prev" data-cycle-next="#scroll_type .cycle-next">
            <a href="#"><img src="/image/pc/main/img_f_banner_01.png" alt=""></a>
            <a href="#"><img src="/image/pc/main/img_f_banner_02.png" alt=""></a>
        </div>
        <button type="button" class="cycle-prev"></button><button type="button" class="cycle-next"></button>
    </div>
    <div class="banner_box"><a href="#"><img src="/image/pc/main/img_f_banner_03.png" alt=""></a></div>
</div>