<!-- 무료이미지 센터 하단-->
<a class="freeimg_footer_banner" href="javascript:void(0)"><img src=""></a>
<div class="footer_inner">

    <ul class="policy">
        <li><a href="#">서비스 이용약관</a></li>
        <li><a href="#">판매자 이용약관</a></li>
        <li class="bold"><a href="#">개인정보처리방침</a></li>
    </ul>
    <div class="co_info">
        <p class="co">(주)사람인HR | 주소:서울 구로구 디지털로34길 43 코오롱싸이언스밸리 1차 201호 (구로동) | 대표:김용환 | 개인정보보호책임자:강봉관</p>
        <p class="address">사업자등록번호:113-86-00917사업자정보확인통신판매업:제2339호 | 대표전화:02-2025-2707</p>
        <p class="copy">copyright © (주)사람인HR all right reserved.</p>
    </div>
</div>