<div class="global">
    <div class="inner">
        <p class="logo free_imgg"><a href="#"><img src="/image/pc/main/img_ci.png" alt="OTWOJOB-오투잡"></a>
            <label><a href="#">무료 디자인 센터</a></label>
        </p>
        <ul class="global_menu">
            <li><a href="javascript:void(0);">로그인<i></i></a></li>
            <li class="join badge_point_2000">
                <span class="bubble_join" id="bubble_join" style="display: inline;">2,000원</span>
                <a href="javascript:void(0);">회원가입</a>
            </li>
        </ul>
    </div>
</div>