<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>사람인 OTWOJOB</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/pc/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/pc/common.css">
<script type="text/javascript" src="../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/pc/placeholders.jquery.min.js"></script>
<script type="text/javascript" src="../../js/pc/common.js"></script>
</head>
<body>
<!-- header -->
<header id="header_member">
	<h1><img src="../../image/pc/common/member_logo.png" alt="OTWOJOB" /></h1>
</header>
<!--// header -->


<section class="member_content">
		내용
</section>
<!--// content_container -->

<!-- footer -->
<footer id="footer">
	<address>Copyright ⓒ ㈜사람인HR all right reserved.</address>
</footer>
<!--// footer -->

</body>
</html>
