<div class="global">
    <div class="inner">
        <p class="logo orderjob"><a href="#"><img src="/image/pc/orderjob/logo.png" alt="OTWOJOB-오투잡"></a></p>
        <ul class="global_menu">
            <!-- 로그인 시 노출 -->
            <li class="user_info">
                <a href="#">
                    <span class="photo"><span><img class="featured-image" src="//images.otwojob.com/product/W/F/h/WFhJfw37SpmzSd0.jpg/o2j/resize/100x100" alt=""></span></span>
                    <span class="name">금요일조아</span>
                </a>
            </li>
    <!--        <li class="user_info">
                초이님 신규제안<a href="#">2건</a> 이 있습니다
            </li>-->
            <li><span class="bubble_noti">99+</span><a href="javascript:void(0)" class="_orderHistoryLayer" onclick="orderHistoryLayer.init();">오더내역</a></li>
            <li><a href="#">톡톡</a></li>
            <li><span class="bubble_noti">99+</span><a href="javascript:void(0)" class="_noticeLayer" onclick="noticeLayer.init();">알림</a></li>
            <li><a href="#">로그아웃</a></li>
            <!-- 로그아웃 시 노출
            <li><a href="#">로그인</a></li>
            <li><span class="bubble_join">2,000P</span><a href="#">회원가입</a></li>
            -->
            <li class="otwojob_btn"><a href="#">오투잡</a></li>
        </ul>
    </div>
    <!-- 알림 레이어 -->
    <div class="notice_layer orderjob_layer">
        <span class="notice_layer_arr"></span>
        <div class="notice_layer_top">$나마스테$님의 최근 메세지</div>
        <!-- 로딩이미지 -->
<!--        <div class="notice_loading" style="display:block;"><img src="/image/pc/common/loading02.gif" alt="로딩이미지" /></div> &lt;!&ndash; css 최초설정 : display:none; &ndash;&gt;-->
        <!-- //로딩이미지 -->
        <div class="notice_layer_cont">
            <div class="scrollbar-inner">
                <!--<p class="no_notice">아직 도착한 알림이 없습니다.</p> &lt;!&ndash; 알림 없을 시 노출 &ndash;&gt;-->
                <ul>
                    <li class="first new_notice">
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="//images.otwojob.com/profile/5/7/9/5795a81aa26d0.jpg/o2j/resize/100>" alt="ca92336"></span></span>
                                </dt>
                                <dd>
                                    <span class="notice_color">[공지]</span>
                                    <span class="cont_txt">판매회원 전환완료 되었습니다.</span>
                                    <span class="notice_date">15분전</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li class="new_notice">
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="//images.otwojob.com/profile/Y/f/H/YfHeWdw4uj2DLR1.jpeg/o2j/resize/100>" alt="ca92336"></span></span>
                                </dt>
                                <dd>
                                    <span class="notice_color">[공지]</span>
                                    <span class="cont_txt">보유하고 있는 O포인트 소멸예정포인트 10,000p가 소멸예정입니다.</span>
                                    <span class="notice_date">3시간 30분전</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li class="new_message">
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="/image/pc/etc/profile_img_otwojob_pc.jpg" alt="otwojob"></span></span>
                                </dt>
                                <dd>
                                    <span class="message_color">[메세지]</span>
                                    <span class="cont_txt">스페셜디자인님으로 부터 메시지가 도착하였습니다.</span>
                                    <span class="notice_date">2017.12.17 21:07</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li class="new_deal">
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="/image/pc/etc/profile_img_otwojob_pc.jpg" alt="otwojob"></span></span>
                                </dt>
                                <dd>
                                    <span class="deal_color">[거래메세지]</span>
                                    <span class="cont_txt">4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트</span>
                                    <span class="notice_date">15분전</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="/image/pc/etc/profile_img_otwojob_pc.jpg" alt="otwojob"></span></span>
                                </dt>
                                <dd>
                                    <span class="notice_color">[공지]</span>
                                    <span class="cont_txt">보유하고 있는 O포인트 소멸예정포인트 10,000p가 소멸예정입니다.</span>
                                    <span class="notice_date">3시간 30분전</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span><img src="/image/pc/etc/profile_img_otwojob_pc.jpg" alt="otwojob"></span></span>
                                </dt>
                                <dd>
                                    <span class="message_color">[메세지]</span>
                                    <span class="cont_txt">스페셜디자인님으로 부터 메시지가 도착하였습니다.</span>
                                    <span class="notice_date">2017.12.17 21:07</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <span class="dot_point"></span>
                        <a href="#">
                            <dl>
                                <dt>
                                    <span class="photo"><span></span></span>
                                </dt>
                                <dd>
                                    <span class="deal_color">[거래메세지]</span>
                                    <span class="cont_txt">4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트4줄이상 테스트 텍스트트</span>
                                    <span class="notice_date">15분전</span>
                                </dd>
                            </dl>
                        </a>
                    </li>
                    <li class="last"><span class="dot_point">&nbsp;</span></li>
                </ul>
            </div>
        </div>
        <div class="notice_layer_foot"><a href="#">내 알림 전체보기</a></div>
    </div>

    <div class="order_history_layer orderjob_layer">
        <span class="notice_layer_arr"></span>
        <div class="notice_layer_top">$나마스테$님의 제안오더/ 추천오더 내역</div>
        <!-- 로딩이미지 -->
        <!--        <div class="notice_loading" style="display:block;"><img src="/image/pc/common/loading02.gif" alt="로딩이미지" /></div> &lt;!&ndash; css 최초설정 : display:none; &ndash;&gt;-->
        <!-- //로딩이미지 -->
        <div class="notice_layer_cont">
            <div class="scrollbar-inner">
                <div class="tab_type_two layer">
                    <a href="#none" class="on">나의제안내역</a>
                    <a href="#none">추천오더</a>
                </div>
                <!--<p class="no_notice">아직 도착한 오더내역이 없습니다.</p> &lt;!&ndash; 알림 없을 시 노출 &ndash;&gt;-->
                <ul>
                    <li class="first new_notice">
                        <a href="#">
                            <label class="choice">[채택]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="notice_date">2017.12.17 21:07</span>
                        </a>
                    </li>
                    <li class="new_notice">
                        <a href="#">
                            <label>[제안중]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="notice_date">2017.12.17 21:07</span>
                        </a>
                    </li>
                    <li class="new_message">
                        <a href="#">
                            <label>[제안중]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="notice_date">2017.12.17 21:07</span>
                        </a>
                    </li>
                    <li class="new_deal">
                        <a href="#">
                            <label>[D-3]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="etc_inform">희망금액: 50,000~55,000원</span>
                            <span class="etc_inform">작업기간: 3일</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label>[D-3]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="etc_inform">희망금액: 50,000~55,000원</span>
                            <span class="etc_inform">작업기간: 3일</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label>[요청중]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="etc_inform">제안: 5건</span>
                            <span class="etc_inform">문의: 3건</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label>[요청중]</label>
                            <span class="cont_txt">카페24 쇼핑몰 메인디자인 요청합니다.</span>
                            <span class="etc_inform">제안: 5건</span>
                            <span class="etc_inform">문의: 3건</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notice_layer_foot"><a href="#">내 알림 전체보기</a></div>
    </div>
</div>
